In [1]:
%run ./setting.ipynb

In [2]:
qqq = pd.read_parquet(
    os.path.join(
    data_path,
    "qqq.parquet")
)

In [3]:
qqq.to_sql(
    "qqq", 
    conn,
    if_exists = "replace",
    )

6095

In [ ]:
columns_value = {
"Open":["max", "avg", "min"],
"Close":["max", "avg", "min"],
"Volume":["max", "avg", "min"],
}

In [5]:
sql(f"""
select *, 
Close/Open as ratio,
Close - Open as increase
from qqq
limit 10;
""")

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,ratio,increase
0,0,1999-03-10 00:00:00-05:00,43.892056,43.918885,43.167676,43.838398,5232000,0.0,0.0,0.0,0.998778,-0.053658
1,1,1999-03-11 00:00:00-05:00,44.160325,44.415199,43.194485,44.053009,9688600,0.0,0.0,0.0,0.997570,-0.107315
2,2,1999-03-12 00:00:00-05:00,43.892040,43.918869,42.631083,42.979858,8743600,0.0,0.0,0.0,0.979218,-0.912182
3,3,1999-03-15 00:00:00-05:00,43.301822,44.267662,42.845731,44.214005,6369000,0.0,0.0,0.0,1.021066,0.912182
4,4,1999-03-16 00:00:00-05:00,44.401801,44.777406,43.918881,44.589603,4905800,0.0,0.0,0.0,1.004230,0.187802
5,5,1999-03-17 00:00:00-05:00,44.589601,44.643259,44.133510,44.267654,3965000,0.0,0.0,0.0,0.992780,-0.321947
6,6,1999-03-18 00:00:00-05:00,44.213997,45.153008,44.200582,45.126179,4848400,0.0,0.0,0.0,1.020631,0.912182
7,7,1999-03-19 00:00:00-05:00,45.716419,45.716419,43.945713,43.972542,7160400,0.0,0.0,0.0,0.961854,-1.743877
8,8,1999-03-22 00:00:00-05:00,44.160339,44.267654,43.355472,43.435959,5024800,0.0,0.0,0.0,0.983597,-0.724380
9,9,1999-03-23 00:00:00-05:00,43.194490,43.355463,41.826217,41.906704,10962400,0.0,0.0,0.0,0.970186,-1.287786